################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/StrategyGame.Api/wwwroot/images/profile
