.navbaricon-bg {
  display: flex;
  flex-direction: row;
  margin-left: 50px;

  @media screen and (max-width: 1650px) {
    margin-left: 40px;
  }

  @media screen and (max-width: 1550px) {
    margin-left: 30px;
  }

  > .navbaricon-font {
    display: flex;
    flex-direction: column;
    height: 58px;

    > .navbaricon-info {
      @extend .navbaricon-font;
      height: 31px;
      font-size: 26px;

      white-space: nowrap;
    }
  }
}
.navbaricon-rectangle {
  @extend .rectangle;
  margin-right: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    min-width: 80%;
    min-height: 80%;
  }
}
.navbaricon-rectangle > div {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.navbaricon-font {
  > span {
    color: $secondary-color;
    text-align: center;
    font-family: Baloo;

    display: inline-flex;
    align-items: center;
  }
}

.navbaricon-amount {
  font-size: 32px;
  flex: 1;
  line-height: 1;
  white-space: nowrap;
}
