$local-padding-horizontal: 29px;

.navbar-bg {
  padding-left: $total-padding-vertical;
  padding-right: $total-padding-vertical;
  padding-top: 25px;
  padding-bottom: 36px;

  .navbar-color {
    background-color: rgba(255, 255, 255, 0.25);
    min-height: 85px;
    border-radius: 16px;
    padding-right: $local-padding-horizontal;
    padding-left: $local-padding-horizontal;
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
    display: flex;
    flex-direction: row;

    > .navbar-info {
      justify-content: center;
      align-items: center;
      > span {
        font-size: 32px;
        color: $secondary-color;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        font-family: Baloo;
        margin-right: 20px;
      }
    }
    > div {
      display: flex;
      width: 262px;
      flex-direction: row;
      justify-content: space-between;
      margin-right: 30px;

      @media screen and (max-width: 1466px) {
        width: 210px;
      }
    }
    .navbar-wrapper {
      overflow-x: auto;
      overflow-y: hidden;
      width: 100%;
      > {
        display: inline;
      }
      ul {
        min-height: 60px;
        min-width: auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
      }
    }

    li:first-child {
      @media screen and (max-width: 1413px) {
        margin-bottom: 10px;
      }
    }
  }
}
