.notfound-width {
  flex: 1;
  max-width: 700px;
  min-height: 650px;
  justify-content: center;
}
.not-found-text {
  color: white;
  font-size: 30px;
}
.img-container {
  align-items: center;
  max-width: 200px;
  margin-bottom: 60px;
}
.wave-notfound {
  margin-bottom: -50px;
  margin-left: -10px;
  width: 200px;
}
