$local-profilrect-size: 96px;

.profile-bg {
  position: relative;
  flex: 1;
  background-color: white;
  border-radius: 16px;
  background-color: rgba(#ffffff, $alpha: 0.25);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .popup-bg {
    background-color: rgba(#63626200, $alpha: 0);
  }
  > p {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 27px;
    user-select: none;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
    height: 40px;
    background-color: red;
    color: whitesmoke;
    box-shadow: 0 0 3px rgb(243, 68, 68);
  }

  div {
    margin-bottom: 22px;
  }
  a:hover {
    text-decoration: none;
    color: $primary-color;
  }
  .profile-margin {
    margin-bottom: 6px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .rectangle {
    width: $local-profilrect-size;
    height: $local-profilrect-size;
  }
}
.logout {
  cursor: pointer;
}
.profile-bg > * {
  color: rgba(#ffffff, $alpha: 0.75);
  font-family: Baloo;
  font-weight: 14px;
}
