$local-profilrect-size: 96px;

.profile-bg {
  position: relative;
  flex: 1;
  background-color: white;
  border-radius: 16px;
  background-color: rgba(#ffffff, $alpha: 0.25);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .popup-bg {
    background-color: rgba(#63626200, $alpha: 0);
  }
  > p {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 27px;
    user-select: none;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
    height: 40px;
    background-color: red;
    color: whitesmoke;
    box-shadow: 0 0 3px rgb(243, 68, 68);
  }

  div {
    margin-bottom: 22px;
  }
  a:hover {
    text-decoration: none;
    color: $primary-color;
  }
  .profile-margin {
    margin-bottom: 6px;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: fill;
  }
  .rectangle {
    width: $local-profilrect-size;
    height: $local-profilrect-size;
    cursor: pointer;
  }
}
.logout {
  cursor: pointer;
}
.profile-bg > * {
  color: rgba(#ffffff, $alpha: 0.75);
  font-family: Baloo;
  font-weight: 14px;
}
.popup {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;

  .popup-rectangle {
    width: 300px;
    height: 500px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .popup-content {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      color: white;
      font-family: Baloo;
    }
    h3 {
      color: white;
      font-family: OpenSansRegular;
    }
    > button {
      align-items: flex-end;
    }
    > div {
      > input[type="file"] {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
      }
      > .input-container {
        margin: 3em auto;
        max-width: 300px;

        > .browse-btn {
          color: $secondary-color;
          cursor: pointer;
          text-align: center;
          font-family: Baloo;
          font-size: 18px;
          border-radius: 100px;
          min-width: 190px;
          border: none;
          padding-top: 15px;
          padding-bottom: 15px;
          box-shadow: 0 3px 6px rgba(59, 125, 189, 1);
          background-image: linear-gradient(
            to right,
            rgba(15, 207, 222, 1),
            rgba(159, 255, 240, 1)
          );
        }

        > .browse-btn:hover {
          background: #4ec0b4;
        }
      }
    }
  }
}
