@import "./variables.scss";

.undersea-font-big {
  font-size: 93px;
}

.undersea-font {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Baloo;
  color: $primary-color;
}
.undersea-font-form {
  @extend .undersea-font-big;
  @extend .undersea-font;

  @media screen {
  }
}
.common-error-text {
  color: white;
  font-family: Baloo;
  font-size: 16px;
}
.wave {
  margin-bottom: -25%;
  margin-top: 130px;
}
.loading-circle {
  width: 30px;
  height: 30px;
  color: $secondary-color;
  text-align: end;
  font-size: 30px;
  align-self: center;
  margin-top: 40px;
  border-radius: 50%;
  border: 2px solid $secondary-color;
  background-image: linear-gradient(
    to right,
    rgb(16, 0, 104),
    rgb(194, 255, 246)
  );

  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rectangle {
  width: $rectangle-size;
  height: $rectangle-size;
  background-color: $primary-color;
  border: #428dff 2px solid;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
  }
}

.bg-image {
  min-height: 100vh;
  background-image: url("./assets/images/undersea-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainpage-middle {
  margin-left: auto;
  margin-right: auto;
}
.mainpage-width {
  @extend .mainpage-middle;
  max-width: 460px;
}

.main-component {
  padding-top: $maincomponents-padding;
  padding-bottom: 40px;
  padding-right: $maincomponents-padding;
  padding-left: $maincomponents-padding;
  background-color: $component-color;
  border-radius: 16px;
  box-shadow: 0 3px 34px $component-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  max-height: 750px;
}
.circle {
  width: 25px;
  height: 25px;
  background-color: $primary-color;
  border-radius: 50%;
  user-select: none;
  justify-content: center;
  align-items: center;
  > img {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 4px;
  }
}
.circle:active {
  box-shadow: 0 3px 6px rgba(59, 125, 189, 1);
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  width: 0;
}
.hide-scroll {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

button {
  color: $secondary-color;
  text-align: center;
  font-family: Baloo;
  font-size: 18px;
  border-radius: 100px;
  min-width: 190px;
  border: none;
  min-height: 50px;
  box-shadow: 0 3px 6px rgba(59, 125, 189, 1);
  background-image: linear-gradient(
    to right,
    rgba(15, 207, 222, 1),
    rgba(159, 255, 240, 1)
  );
}
.button-disabled {
  color: $secondary-color;
  text-align: center;
  font-family: Baloo;
  font-size: 18px;
  border-radius: 100px;
  min-width: 190px;
  border: none;
  min-height: 50px;
  box-shadow: 0 3px 6px rgba(59, 125, 189, 1);
  background-image: linear-gradient(
    to right,
    rgb(15, 122, 129),
    rgb(124, 190, 180)
  );
}
