@import "./variables.scss";

.undersea-font-big {
  font-size: 100px;
  letter-spacing: 2px;
}

.undersea-font {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Baloo;
  color: $primary-color;
}

.bg-image {
  min-height: 100vh;
  background-image: url("./assets/images/undersea-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainpage-middle {
  margin-left: auto;
  margin-right: auto;
}
.mainpage-width {
  @extend .mainpage-middle;
  max-width: 460px;
}
