@import "./variables.scss";

.form-input {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.39);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 23px;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(28, 62, 118, 1);
}

.form-link {
  display: block;
  color: $primary-color;
  font-size: 18px;
  font-family: Baloo;
}

.mainpage-middle {
  margin-left: auto;
  margin-right: auto;
}
.form-font {
  font-size: 32px;
  color: $secondary-color;
  text-align: center;
  font-family: Baloo;
  margin-bottom: 28px;
}

.form-button {
  color: $secondary-color;
  text-align: center;
  font-family: Baloo;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  border-radius: 100px;
  min-width: 190px;
  border: none;
  height: 50px;
  margin-top: 44px;
  box-shadow: 0 3px 6px rgba(59, 125, 189, 1);
  margin-bottom: 27px;
  background-image: linear-gradient(
    to right,
    rgba(15, 207, 222, 1),
    rgba(159, 255, 240, 1)
  );
}
.form-bg {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 48px;
  padding-top: 37px;
  padding-bottom: 30px;
  border-radius: 16px;
  margin-top: 22.6px;
}
