$local-padding-horizontal: 29px;

.navbar-bg {
  padding-left: $total-padding-vertical;
  padding-right: $total-padding-vertical;
  padding-top: 25px;
  padding-bottom: 36px;
}

.navbar-color {
  background-color: rgba(255, 255, 255, 0.25);
  min-height: 85px;
  border-radius: 16px;
  padding-right: $local-padding-horizontal;
  padding-left: $local-padding-horizontal;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;
  display: flex;
  flex-direction: row;
}
.navbar-color > ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-color > ul > li > span {
  font-size: 32px;
  color: $secondary-color;
  text-align: center;
  font-family: Baloo;
}
.navbar-color > ul > li{
 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.navbar-color > ul > li:first-child{
  margin-left: 0px;
}